@model PublisherModel


@{
    ViewBag.PageHeading = "Publisher Registration";
    ViewBag.Title = "Registration";
}
<div class="col-8 offset-2">


    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <th>
                    <input asp-for="PublisherName" />
                </th>
            </tr>
            <tr>
                <th>Email</th>
                <th>
                    <input asp-for="EmailAddress" />
                </th>
            </tr>
            <tr>
                <th>Contact Number</th>
                <th>
                    <input asp-for="ContactNo" />
                </th>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save" />
                </td>
                <td>
                    <input type="reset" value="Clear" />
                </td>
            </tr>
        </table>
        <br />
        @if (ViewBag.Message != null && ViewData["Message"] != null)
        {
            @* <ol>
                @foreach (var item in ViewBag.Message)
                {
                    <li> <span style="color:red;">@item</span></li>
                }
            </ol> *@
            <hr />
              <ol>
                @foreach (var item in (string[])ViewData["Message"])
                {
                <li> <span style="color:orange;">@item</span></li>
                }
             </ol>
        }
    </form>
</div>

