<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <th>
                    <input type="text" name="PublisherName" />
                </th>
            </tr>
            <tr>
                <th>Email</th>
                <th>
                    <input type="text" name="EmailAddress" />
                </th>
            </tr>
            <tr>
                <th>Contact Number</th>
                <th>
                    <input type="text" name="ContactNo" />
                </th>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save" />
                </td>
                <td>
                    <input type="reset" value="Clear" />
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>