<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>This is the Author Registration Page.</h2>
    <hr />
    <form method="post">
        <table>
            <tr>
                <th>Author Name</th>
                <th><input type="text" name="AuthorName" /></th>
            </tr>
            <tr>
                <th>Email Address</th>
                <th><input type="text" name="EmailAddress" /></th>
            </tr>
            <tr>
                <th>Contact Number</th>
                <th><input type="text" name="Mobile" /></th>
            </tr>
        </table>

        <br />
        <input type="submit" value="Save" />
    </form>
   
</body>
</html>